* {
    margin: 0px;
    padding: 0px;
}

.kbd{
    padding: 5px;
    margin: 4px;
    font-size: 20px;
    font-weight: 700;
}

.background-pic {
    background: linear-gradient(#181616bd,#000000e0),url(../images/alphabet.jpg);
}

.score-bg {
    background-color: #535353c4;
}
.alphabet {
    text-shadow: 2px 2px 10px #ff4484d6;
}
